<% include ./Partial/header.ejs %>
    <div class="w-full ">      
        <div class="hidden md:block w-full h-6">
            <img src="https://files.oaiusercontent.com/file-NWttdvmiwcRnrtSo7ANeNV?se=2024-12-04T07%3A17%3A30Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D87708aaa-0731-4500-b098-1aabc6d124d3.webp&sig=YmVGKTGo1JAMVvJhCwAIZ806fjVICznKL%2Bj7zVApeA4%3D" alt="11">
        </div>
       <div class="md:hidden w-full">
        <img src="https://files.oaiusercontent.com/file-H6YfGn1thsetfQdHb313DK?se=2024-12-05T05%3A24%3A25Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dca4f7cda-cdd0-49d3-87a5-6e47273e32b9.webp&sig=SUD1uCsfw%2BW6UeHlOnvJZdVmnEwvNggz3QXWbrcDTRs%3D" alt="">
       </div>
       <div class="absolute top-1/2 left-1/2 transform md:-translate-x-1/2 -translate-y-1/2 text-center">
        <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-white">
          Welcome, <%=user.username%> on Page Pal
        </h1>
      </div>
      
     </div>
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
            var mobileMenu = document.getElementById('mobile-menu');
            if (mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
            } else {
                mobileMenu.classList.add('hidden');
            }
        });
    </script>
</body>
</html>
